# Dependencias
node_modules/
.pnp
.pnp.js

# Builds
dist/
build/
.next/
out/

# Entorno y secretos (NUNCA subir esto)
.env
.env*.local
.env.production

# Logs
*.log
npm-debug.log*

# Editor / OS
.DS_Store
.vscode/*
!.vscode/extensions.json
.idea/

# Testing
coverage/
